<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @comment.point %>
</p>

<p>
  <strong>Overallconfig:</strong>
  <%= @comment.overallconfig_id %>
</p>

<p>
  <strong>Musictitle:</strong>
  <%= @comment.musictitle_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
